In [40]:
import pandas as pd
import numpy as np

In [41]:
## Importing
ad_csv = pd.read_csv("./Data/advertising_ef.csv")

In [42]:
ad_csv

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Gender,Country,Timestamp,Clicked on Ad
0,68.95,35.0,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,Female,Tunisia,27-03-2016 00:53,0
1,NaN,31.0,68441.85,193.77,Monitored national standardization,West Jodi,Male,Nauru,04-04-2016 01:39,0
2,69.47,26.0,59785.94,236.50,Organic bottom-line service-desk,Davidton,Female,San Marino,13-03-2016 20:35,0
3,74.15,29.0,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,Male,Italy,10-01-2016 02:31,0
4,68.37,35.0,73889.99,225.58,Robust logistical utilization,South Manuel,Female,Iceland,03-06-2016 03:36,0
...,...,...,...,...,...,...,...,...,...,...
1004,72.97,30.0,71384.57,208.58,Fundamental modular algorithm,Duffystad,Male,Lebanon,11-02-2016 21:49,1
1005,51.30,45.0,67782.17,134.42,Grass-roots cohesive monitoring,New Darlene,Male,Bosnia and Herzegovina,22-04-2016 02:07,1
1006,51.63,51.0,42415.72,120.37,Expanded intangible solution,South Jessica,Male,Mongolia,01-02-2016 17:24,1
1007,55.55,19.0,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,Female,Guatemala,24-03-2016 02:35,0
1008,45.01,26.0,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,Female,Brazil,03-06-2016 21:43,1

In [43]:
ad_df = pd.DataFrame(ad_csv)

In [44]:
ad_df

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Gender,Country,Timestamp,Clicked on Ad
0,68.95,35.0,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,Female,Tunisia,27-03-2016 00:53,0
1,NaN,31.0,68441.85,193.77,Monitored national standardization,West Jodi,Male,Nauru,04-04-2016 01:39,0
2,69.47,26.0,59785.94,236.50,Organic bottom-line service-desk,Davidton,Female,San Marino,13-03-2016 20:35,0
3,74.15,29.0,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,Male,Italy,10-01-2016 02:31,0
4,68.37,35.0,73889.99,225.58,Robust logistical utilization,South Manuel,Female,Iceland,03-06-2016 03:36,0
...,...,...,...,...,...,...,...,...,...,...
1004,72.97,30.0,71384.57,208.58,Fundamental modular algorithm,Duffystad,Male,Lebanon,11-02-2016 21:49,1
1005,51.30,45.0,67782.17,134.42,Grass-roots cohesive monitoring,New Darlene,Male,Bosnia and Herzegovina,22-04-2016 02:07,1
1006,51.63,51.0,42415.72,120.37,Expanded intangible solution,South Jessica,Male,Mongolia,01-02-2016 17:24,1
1007,55.55,19.0,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,Female,Guatemala,24-03-2016 02:35,0
1008,45.01,26.0,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,Female,Brazil,03-06-2016 21:43,1

## Cleaning

In [45]:
ad_df.isna().sum()

Daily Time Spent on Site     4
Age                         11
Area Income                 11
Daily Internet Usage         4
Ad Topic Line                0
City                        11
Gender                       0
Country                     13
Timestamp                    0
Clicked on Ad                0
dtype: int64

In [46]:
ad_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1005 non-null   float64
 1   Age                       998 non-null    float64
 2   Area Income               998 non-null    float64
 3   Daily Internet Usage      1005 non-null   float64
 4   Ad Topic Line             1009 non-null   object
 5   City                      998 non-null    object
 6   Gender                    1009 non-null   object
 7   Country                   996 non-null    object
 8   Timestamp                 1009 non-null   object
 9   Clicked on Ad             1009 non-null   int64
dtypes: float64(4), int64(1), object(5)
memory usage: 79.0+ KB

In [47]:
## Look at null val
ad_df["Daily Time Spent on Site"]is_unique

SyntaxError: invalid syntax (2729193101.py, line 2)

In [48]:
ad_df_1 = ad_df.dropna(axis= 'rows' , how='all')

In [49]:
ad_df_1.dropna(inplace=True)

In [50]:
ad_df_1 = ad_df_1.reset_index()

In [51]:
ad_df_1

,index,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Gender,Country,Timestamp,Clicked on Ad
0,0,68.95,35.0,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,Female,Tunisia,27-03-2016 00:53,0
1,2,69.47,26.0,59785.94,236.50,Organic bottom-line service-desk,Davidton,Female,San Marino,13-03-2016 20:35,0
2,3,74.15,29.0,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,Male,Italy,10-01-2016 02:31,0
3,4,68.37,35.0,73889.99,225.58,Robust logistical utilization,South Manuel,Female,Iceland,03-06-2016 03:36,0
4,6,88.91,33.0,53852.85,208.36,Enhanced dedicated support,Brandonstad,Female,Myanmar,28-01-2016 20:59,0
...,...,...,...,...,...,...,...,...,...,...,...
951,1004,72.97,30.0,71384.57,208.58,Fundamental modular algorithm,Duffystad,Male,Lebanon,11-02-2016 21:49,1
952,1005,51.30,45.0,67782.17,134.42,Grass-roots cohesive monitoring,New Darlene,Male,Bosnia and Herzegovina,22-04-2016 02:07,1
953,1006,51.63,51.0,42415.72,120.37,Expanded intangible solution,South Jessica,Male,Mongolia,01-02-2016 17:24,1
954,1007,55.55,19.0,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,Female,Guatemala,24-03-2016 02:35,0
955,1008,45.01,26.0,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,Female,Brazil,03-06-2016 21:43,1

In [53]:
ad_df_1.drop(columns=['index'],axis=1,inplace=True)

In [54]:
ad_df_1

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Gender,Country,Timestamp,Clicked on Ad
0,68.95,35.0,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,Female,Tunisia,27-03-2016 00:53,0
1,69.47,26.0,59785.94,236.50,Organic bottom-line service-desk,Davidton,Female,San Marino,13-03-2016 20:35,0
2,74.15,29.0,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,Male,Italy,10-01-2016 02:31,0
3,68.37,35.0,73889.99,225.58,Robust logistical utilization,South Manuel,Female,Iceland,03-06-2016 03:36,0
4,88.91,33.0,53852.85,208.36,Enhanced dedicated support,Brandonstad,Female,Myanmar,28-01-2016 20:59,0
...,...,...,...,...,...,...,...,...,...,...
951,72.97,30.0,71384.57,208.58,Fundamental modular algorithm,Duffystad,Male,Lebanon,11-02-2016 21:49,1
952,51.30,45.0,67782.17,134.42,Grass-roots cohesive monitoring,New Darlene,Male,Bosnia and Herzegovina,22-04-2016 02:07,1
953,51.63,51.0,42415.72,120.37,Expanded intangible solution,South Jessica,Male,Mongolia,01-02-2016 17:24,1
954,55.55,19.0,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,Female,Guatemala,24-03-2016 02:35,0
955,45.01,26.0,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,Female,Brazil,03-06-2016 21:43,1

In [55]:
ad_df_1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956 entries, 0 to 955
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  956 non-null    float64
 1   Age                       956 non-null    float64
 2   Area Income               956 non-null    float64
 3   Daily Internet Usage      956 non-null    float64
 4   Ad Topic Line             956 non-null    object
 5   City                      956 non-null    object
 6   Gender                    956 non-null    object
 7   Country                   956 non-null    object
 8   Timestamp                 956 non-null    object
 9   Clicked on Ad             956 non-null    int64
dtypes: float64(4), int64(1), object(5)
memory usage: 74.8+ KB

In [58]:
### TODO: Convert Columns to diffrent data typesA
ad_df_1['Age'] = ad_df_1['Age'].astype(int)

In [59]:
ad_df_1

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Gender,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,Female,Tunisia,27-03-2016 00:53,0
1,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,Female,San Marino,13-03-2016 20:35,0
2,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,Male,Italy,10-01-2016 02:31,0
3,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,Female,Iceland,03-06-2016 03:36,0
4,88.91,33,53852.85,208.36,Enhanced dedicated support,Brandonstad,Female,Myanmar,28-01-2016 20:59,0
...,...,...,...,...,...,...,...,...,...,...
951,72.97,30,71384.57,208.58,Fundamental modular algorithm,Duffystad,Male,Lebanon,11-02-2016 21:49,1
952,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,New Darlene,Male,Bosnia and Herzegovina,22-04-2016 02:07,1
953,51.63,51,42415.72,120.37,Expanded intangible solution,South Jessica,Male,Mongolia,01-02-2016 17:24,1
954,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,Female,Guatemala,24-03-2016 02:35,0
955,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,Female,Brazil,03-06-2016 21:43,1

In [62]:
ad_df_1['Timestamp'] = pd.to_datetime(ad_df_1['Timestamp'])

In [64]:
ad_df_1['Clicked on Ad'] = ad_df_1['Clicked on Ad'].astype(bool)

In [65]:
ad_df_1

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Gender,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,Female,Tunisia,2016-03-27 00:53:00,False
1,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,Female,San Marino,2016-03-13 20:35:00,False
2,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,Male,Italy,2016-10-01 02:31:00,False
3,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,Female,Iceland,2016-03-06 03:36:00,False
4,88.91,33,53852.85,208.36,Enhanced dedicated support,Brandonstad,Female,Myanmar,2016-01-28 20:59:00,False
...,...,...,...,...,...,...,...,...,...,...
951,72.97,30,71384.57,208.58,Fundamental modular algorithm,Duffystad,Male,Lebanon,2016-11-02 21:49:00,True
952,51.30,45,67782.17,134.42,Grass-roots cohesive monitoring,New Darlene,Male,Bosnia and Herzegovina,2016-04-22 02:07:00,True
953,51.63,51,42415.72,120.37,Expanded intangible solution,South Jessica,Male,Mongolia,2016-01-02 17:24:00,True
954,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,Female,Guatemala,2016-03-24 02:35:00,False
955,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,Female,Brazil,2016-03-06 21:43:00,True

In [66]:
ad_df_1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956 entries, 0 to 955
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  956 non-null    float64
 1   Age                       956 non-null    int32
 2   Area Income               956 non-null    float64
 3   Daily Internet Usage      956 non-null    float64
 4   Ad Topic Line             956 non-null    object
 5   City                      956 non-null    object
 6   Gender                    956 non-null    object
 7   Country                   956 non-null    object
 8   Timestamp                 956 non-null    datetime64[ns]
 9   Clicked on Ad             956 non-null    bool
dtypes: bool(1), datetime64[ns](1), float64(3), int32(1), object(4)
memory usage: 64.5+ KB

In [67]:
ad_df_1.describe()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage
count,956.000000,956.000000,956.000000,956.000000
mean,64.991381,36.024059,54994.663609,179.687887
std,15.868862,8.804119,13306.592958,43.984389
min,32.600000,19.000000,13996.500000,104.780000
25%,51.360000,29.000000,46971.640000,138.647500
50%,67.975000,35.000000,56985.410000,182.425000
75%,78.585000,42.000000,65315.467500,218.182500
max,91.430000,61.000000,79484.800000,269.960000